meta(charset='UTF-8')
//- shrink-to-fit 可以兼顧在 Firefox/Chrome/Safari/WebView 中都有同樣的排版，也不會在其他瀏覽器中發生問題
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
title Day 9 14 Must Know Dev Tools Tricks
link(rel='stylesheet', href='scss/all.css')
script(src='https://kit.fontawesome.com/fface7bba9.js')